<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/cars/add}" method="post">
                <fieldset>
                    <legend class="text-center">Add Car</legend>

                    <th:block th:unless="${car_add_notification} == null">
                        <div class="alert alert-success text-center">
                            <strong th:text="${car_add_notification}"></strong>
                        </div>
                    </th:block>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="make">Make</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="make" name="make"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="model">Model</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="model" name="model"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="distance">Travelled Distance</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" min="1" step="1" id="distance"
                                   name="travelledDistance"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="dropDownBtn"></label>

                        <div class="col-sm-4">
                            <button id="dropDownBtn" type="button" class="form-control dropdown-toggle"
                                    data-toggle="dropdown">
                                <!--<span class="glyphicon glyphicon-cog"></span>-->
                                <div align="right">
                                    <span class="caret"></span>
                                </div>
                            </button>
                            <ul class="dropdown-menu scrollable-menu">

                                <th:block th:each="part : ${parts}" th:object="${part}">

                                    <th:block>
                                        <li>
                                            <a href="#" class="small" th:value="${part.getId()}"
                                               tabIndex="-1">
                                                <input name="selectedParts" type="checkbox"
                                                       th:value="${part.getId()}"
                                                       th:text="|&nbsp; ${part.getName()}|"/>
                                            </a>
                                        </li>

                                        <!--<li>
                                            <a href="#" class="small" data-value="option1" tabIndex="-1">
                                                <input type="checkbox"/>&nbsp;Option 2
                                            </a>
                                        </li>-->

                                        <!--<a href="#" class="small" th:value="${part.getId()}"
                                           th:text="${part.getName()}" tabIndex="-1"
                                           type="checkbox">
                                            <input type="checkbox"/>&nbsp;Option 1</a>-->
                                        </li>
                                    </th:block>

                                </th:block>

                                <!--<li><a href="#" class="small" data-value="option1" tabIndex="-1"><input
                                        type="checkbox"/>&nbsp;Option 1</a></li>
                                <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input
                                        type="checkbox"/>&nbsp;Option 2</a></li>
                                <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input
                                        type="checkbox"/>&nbsp;Option 3</a></li>
                                <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input
                                        type="checkbox"/>&nbsp;Option 4</a></li>
                                <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input
                                        type="checkbox"/>&nbsp;Option 5</a></li>
                                <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input
                                        type="checkbox"/>&nbsp;Option 6</a></li>-->
                            </ul>
                        </div>

                        <!--<div class="col-sm-4">
                            <select id="dropDownBtn" class="form-control" name="partId">
                                <option th:each="part : ${parts}"
                                        th:value="${part.getId()}"
                                        th:text="${part.getName()}"></option>
                            </select>
                        </div>-->
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/cars/all}">Cancel</a>
                            <input value="Add" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>