<main xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container body-content span=8 offset=2">
        <div id="divWell" class="well">
            <fieldset>
                <legend>Spread a new Virus!</legend>

                <form id="addVirusForm" class="form-horizontal" th:action="@{/viruses/delete/{id}(id=${deleteVirusModel.getId()})}"
                      th:object="${deleteVirusModel}" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" required="required" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" th:field="*{description}" rows="3"
                                  required="required" disabled="disabled"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="sideEffect">Side Effect</label>
                        <input type="text" class="form-control" id="sideEffect" th:field="*{sideEffect}" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="creator">Creator</label>
                        <select class="form-control" id="creator" th:field="*{creatorType}" disabled="disabled">
                            <option th:each="creator : ${creatorsList}" th:value="${creator}"
                                    th:text="${creator}">1
                            </option>
                        </select>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" th:field="*{deadly}" disabled="disabled"/>
                            Is Deadly?
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" th:field="*{curable}" disabled="disabled"/>
                            Is Curable?
                        </label>
                    </div>

                    <fieldset class="form-group">
                        <legend>Select mutation</legend>
                        <div class="form-check" th:each="mutation : ${mutationsList}">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:value="${mutation}"
                                       th:field="*{mutationType}"
                                       th:text="| ${mutation}|" id="zombieCheck" disabled="disabled"/>
                            </label>
                        </div>

                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" disabled="disabled"/>
                                Save Humanity
                            </label>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label for="rate">Turnover Rate</label>
                        <input type="number" min="0" max="100" class="form-control" id="rate"
                               th:field="*{turnoverRate}" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="hours">Hours Until Turn</label>
                        <input type="number" class="form-control" id="hours" min="1" max="12"
                               th:field="*{hoursUntilTurn}" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="magnitude">Magnitude</label>
                        <select class="form-control" id="magnitude" th:field="*{magnitudeType}" disabled="disabled">
                            <option th:each="magnitude : ${magnitudesList}" th:value="${magnitude}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(magnitude))}">1
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="date">Release Date</label>
                        <input class="form-control" type="date" id="date" th:field="*{releaseOn}" disabled="disabled">
                    </div>

                    <div class="form-group">
                        <label for="capitals">Affected Capitals</label>
                        <select multiple="" class="form-control" id="capitals" th:field="*{capitalIds}" disabled="disabled">
                            <option th:each="capital : ${capitalsList}" th:value="${capital.getId()}"
                                    th:text="${capital.getName()}">1
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/viruses/show}">Cancel</a>
                            <input value="Spread" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>

                </form>

            </fieldset>
        </div>
    </div>
</main>