<main>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Magnitude</th>
            <th scope="col">Relesed On</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="virus : ${viruses}">
            <tr>
                <th scope="row" th:text="${virus.getId()}"></th>
                <td th:text="${virus.getName()}"></td>
                <td th:text="${virus.getMagnitudeType()}"></td>
                <td th:text="${virus.getReleaseOn()}"></td>
                <td>
                    <a th:href="@{/viruses/edit/{id} (id=${virus.getId()})}" class="btn btn-outline-warning">Edit</a>
                </td>
                <td>
                    <a th:href="@{/viruses/delete/{id} (id=${virus.getId()})}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        </th:block>

        </tbody>
    </table>

    <nav>
        <ul class="pagination d-flex justify-content-center">
            <!--Previous Button-->
            <li class="page-item"><a class="page-link" th:if="${viruses.hasPrevious()}"
                                     th:href="@{/viruses/show(page=${viruses.previousPageable().getPageNumber()})}">Previous</a>
            </li>

            <!--Dot Button-->
            <li class="page-item"><a class="page-link" th:if="${viruses.getPageable().getPageNumber() + 1 > 5}"
                                     th:disabled="true">...</a></li>

            <!--Pagination Navigation-->

            <th:block th:unless="${param.page} == 11">
                <th:block th:each="number : ${#numbers.sequence(
            ((viruses.getPageable().getPageNumber()
            / 5) * 5)
            , ((viruses.getPageable().getPageNumber()
            / 5) * 5) + 5)}">
                    <li class="page-item"
                        th:classappend="${number == viruses.getPageable().getPageNumber()? ' active' : ''}"><a
                            class="page-link" th:text="${number}" th:href="@{/viruses/show(page=${number})}"></a></li>
                </th:block>
            </th:block>

            <!--Dot Button-->
            <li class="page-item"><a class="page-link"
                                     th:if="${viruses.getPageable().getPageNumber() + 1 < viruses.getTotalPages() - 4}"
                                     th:disabled="true">...</a></li>

            <!--Next Button-->
            <li class="page-item"><a class="page-link" th:if="${viruses.hasNext()}"
                                     th:href="@{/viruses/show(page=${viruses.nextPageable().getPageNumber()})}">Next</a>
            </li>
        </ul>
    </nav>

</main>