<main>
    <a href="/suppliers/add" class="btn btn-primary btn-lg">New Supplier</a>

    <table class="modifiedTable" style="margin-top:20px">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Importer</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="supplier : ${suppliers}" th:object="${supplier}">
            <tr>
                <td th:text="${supplier.getName()}"></td>

                <th:block th:if="${supplier.isImporter()}">
                    <td th:text="Yes"></td>
                </th:block>
                <th:block th:unless="${supplier.isImporter()}">
                    <td th:text="No"></td>
                </th:block>

                <td>
                    <a th:href="@{/suppliers/edit/{id}(id=${supplier.getId()})}">Edit</a>
                    <a th:href="@{/suppliers/delete/{id}(id=${supplier.getId()})}">Delete</a>
                </td>
            </tr>
        </th:block>

        </tbody>
    </table>
</main>