<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">

            <th:block th:unless="${add_sale_error} == null">
                <div class="alert alert-danger text-center">
                    <strong th:text="${add_sale_error}"></strong>
                </div>
            </th:block>

            <form class="form-horizontal" th:action="@{/Sales/add}" method="post" th:object="${addSaleRequestModel}">
                <fieldset>
                    <legend class="text-center">Add Sale</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="customerDropDownBtn">Customer</label>
                        <div class="col-sm-4">
                            <select id="customerDropDownBtn" class="form-control" name="customerId">
                                <option disabled selected value> -- Select Customer --</option>
                                <option th:each="customer : ${customers}"
                                        th:value="${customer.getId()}"
                                        th:text="${customer.getName()}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="partDropDownBtn">Car</label>
                        <div class="col-sm-4">
                            <select id="partDropDownBtn" class="form-control" name="carId">
                                <option disabled selected value> -- Select Car --</option>
                                <option th:each="car : ${cars}"
                                        th:value="${car.id}"
                                        th:text="|${car.getMake()} ${car.getModel()}|"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discountDropDownBtn">Discount</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" min="0" max="99" step="0.01" name="discount"
                                   id="discountDropDownBtn"/>

                            <!--<select id="discountDropDownBtn" class="form-control" name="discount">-->
                            <!-- <option disabled selected value> &#45;&#45; Select Discount &#45;&#45;</option>
                             <option th:each="discount : ${discounts}"
                                     th:value="${discount}"
                                     th:text="${discount}"></option>-->
                            <!--</select>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/Sales/all}">Cancel</a>
                            <input value="Add" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</main>