<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/Sales/add}" method="post">
                <fieldset>
                    <legend class="text-center">Add Sale</legend>

                    <!--<th:block th:unless="${car_add_notification} == null">
                        <div class="alert alert-success text-center">
                            <strong th:text="${car_add_notification}"></strong>
                        </div>
                    </th:block>-->

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="customerDropDownBtn">Customer</label>
                        <div class="col-sm-4">
                            <select name="optionBe" id="customerDropDownBtn" class="form-control">
                                <option disabled selected value> -- Select Customer --</option>
                                <option th:each="customer : ${customers}"
                                        th:text="${customer.getName()}"></option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="form-group">
                         <label class="col-sm-4 control-label" for="partDropDownBtn">Car</label>
                         <div class="col-sm-4">
                             <select id="partDropDownBtn" class="form-control" name="car">
                                 <option disabled selected value> &#45;&#45; Select Car &#45;&#45;</option>
                                 <option th:each="car : ${cars}"
                                         th:value="${car}"
                                         th:text="|${car.getMake()} ${car.getModel()}|"></option>
                             </select>
                         </div>
                     </div>

                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="discountDropDownBtn">Discount</label>
                         <div class="col-sm-4">
                             <select id="discountDropDownBtn" class="form-control" name="percentage">
                                 <option disabled selected value> &#45;&#45; Select Discount &#45;&#45;</option>
                                 <option th:each="discount : ${discounts}"
                                         th:value="${discount}"
                                         th:text="${discount}"></option>
                             </select>
                         </div>
                     </div>-->

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/Sales/all}">Cancel</a>
                            <input value="Add" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</main>