<main>

    <th:block th:unless="${add_sale_notify} == null">
        <div class="alert alert-success text-center">
            <strong th:text="${add_sale_notify}"></strong>
        </div>
    </th:block>

    <table>
        <tr>
            <th>Sale Id</th>
            <th>Sale Discount</th>
        </tr>

        <th:block th:each="sale : ${sales}" th:object="${sale}">
            <tr>
                <td th:text="${sale.getId()}"></td>
                <td th:text="${sale.getDiscount()}"></td>
            </tr>
        </th:block>
    </table>
</main>